####-*.patch
gui/icons_rc.py
lib/icons_rc.py
*.pyc
*.swp
build/
dist/
*.egg/
/electrum.py
contrib/pyinstaller/
Tate.egg-info/
gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
contrib/tate-release/repo/
contrib/tate-release/source/Tate-*
contrib/tate-release/source/tate-*
contrib/tate-release/releases/*
contrib/tate-releases/ltc_scrypt-1.0/
*.pyd
*.so
*.dylib
