# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Mazacoin Client
Exec=tate %u
GenericName[en_US]=Tate
GenericName=Tate
Icon=tate
Name[en_US]=Tate Mazacoin Wallet
Name=Tate Mazacoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/mazacoin;

